.idea/
.DS_Store

.vscode/
go.mod
go.sum

test/img/

example/rsa_private_key.pem

test/test_local.go

example/go.mod
example/go.sum
example/.DS_Store

recognition/go.mod
recognition/go.sum

recognition/speech/longasync/go.sum
recognition/speech/shortsync/go.sum
recognition/speech/shortsync/resultstruct/go.sum
recognition/speech/shortsync/resultstruct/go.mod

lib/model/go.mod
lib/model/go.sum
lib/controller/go.mod
lib/controller/go.sum
lib/errorlib/go.mod
lib/errorlib/go.sum
lib/tools/go.mod
lib/tools/go.sum